Supplementary_Data_2-N_observed.bedGraph filter=lfs diff=lfs merge=lfs -text
Supplementary_Data_2-K_bar.bedGraph filter=lfs diff=lfs merge=lfs -text
Supplementary_Data_2-N_expected_gnocchi.bedGraph filter=lfs diff=lfs merge=lfs -text
Supplementary_Data_2-gnocchi.bedGraph filter=lfs diff=lfs merge=lfs -text
